---
layout: default
---
<div class="flex_container">
    <div class="flex_spacer"></div>
    <div class="flex_content">
        <div>
            <header>
                <center><h1 class="site_title">Research Interests</h1></center>
                <center>
                    <span class="big-ornament">
                        {% include light_on-icon.html %}
                        {% include light_on-icon.html %}
                        {% include light_on-icon.html %}
                    </span>
                </center>
            </header>

            <p>My research interests, though I'm not an active researcher, include:</p>
            <ul>
                <li>Computing: Multiagent systems, Cloud applications architecture, Linux embedded systems.</li>
                <li>Mathematics: Topological Data Analysis.</li>
                <li>Defence and Security: Strategy and Policy Development</li>
            </ul>

            <!-- {% assign projects = site.posts | group_by: "project" %}
            {% for project in projects %}
                {% if project.name != "" %}
                <h4>{{ project.name }}</h4>
                {% for post in project.items %}
                    {{forloop.index}}. <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>{% if forloop.last == false %},&nbsp;&nbsp;{% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %} -->

            <h4>Publications</h4>
            <ul>
                <li>George, S., Ganzha, M., Paprzycki, M., Fidanova, S., Lirkov, I. (2017).
                Building a platform to collect crowdsensing data. Preliminary
                considerations. <i>AIP Conference Proceedings, 1895(1), 100002</i>.
                    [<a href="/assets/docs/1.5007406.pdf" target="_blank">PDF</a>].
                    URL: <a href="http://dx.doi.org/10.1063/1.5007406" target="_blank">http://dx.doi.org/10.1063/1.5007406</a>.</li>
            </ul>
        </div>
    </div>
    <div class="flex_spacer"></div>
</div>