body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: "kern", "liga=1, dlig=1", "salt";
    -ms-font-feature-settings: "kern", "liga", "dlig", "salt";
    -webkit-font-feature-settings: "kern", "liga", "dlig", "salt";
    -o-font-feature-settings: "kern", "liga", "dlig", "salt";
    font-feature-settings: "kern", "liga", "dlig", "salt";
    text-rendering: optimizeLegibility;

    color: $base-font-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    background-color: $background-color !important;

    main {
        display: flex;
        flex-flow: column nowrap;
        margin: 0px auto;
        max-width: 1184px;
        width: 100%;
        overflow: hidden;

        h1, h2, h3, h4 {
            color: $heading-color;
        }

        a {
            color: $anchor-color;

            &:hover {
                color: $anchor-hover-color;
            }
        }

        .btn {
            background-color: $background-color;
            padding-bottom: 10px;
        }

        .flex_container {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }

        .flex_spacer{
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 150px;
        }

        .flex_content {
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            min-width: 400px;

            div:first-child {
                display: block;
                width: 100%;
            }
        }

        nav {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            overflow: hidden;

            .site {
                display: flex;
                flex-grow: 1;
                width: 50%;

                a {
                    margin-right: 20px;
                    color: $heading-color;

                    &.active {
                        color: $anchor-active-color;
                        font-weight: bold;
                        text-decoration: underline;
                    }

                    &:hover {
                        color: $anchor-hover-color;
                    }
                }
            }

            .social {
                display: flex;
                flex-grow: 1;
                width: 50%;
                justify-content: flex-end;

                a {
                    margin-left: 20px;
                    color: $heading-color;
                    text-decoration: none;

                    &:hover {
                        color: $anchor-hover-color;
                    }
                }
            }
        }

        section.main_content {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 8px;
            overflow: hidden;
            background-color: $background-color-main-content;
            box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;

            header {
                width: 100%;
                margin-bottom: 20px;
                h1.site_title {
                    margin: 0 0 5px 0;
                    font-weight: 400;
                }
    
                p.site_subtitle {
                    margin: 0 0 10px 0;
                    font-weight: 400;
                }
            }

            article {
                max-width: 100%;
                text-align: justify;

                blockquote {
                    margin: 20px 60px 50px 60px;
                    border-left: 3pt solid $heading-color;
                    padding-left: 0.9em;
                    font-style: oblique;
                    text-align: justify;
                
                    > :last-child {
                        margin-bottom: 0;
                    }
                }

                a.toc {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                h4 {
                    margin-top: 30px;
                    color: #da4167;
                    &::before {
                        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f140";
                        font-size: 16px;
                        margin-right: 5px;
                        position: relative;
                        bottom: 2px;
                    }
                }

                div.highlighter-rouge {
                    margin-bottom: 10px;
                    div.highlight {
                        padding: 10px;
    
                        pre.highlight {
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }

            }

            
            hr.article-end.top {
                width: 100%;
                margin-bottom: 0;
            }
            
            hr.article-end.bottom {
                width: 100%;
                margin-top: 3px;
            }
        }

        footer {
            margin-top: 10px;
            
            p {
                margin-bottom: 5px;
            }
        }
    }
}