<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <main role="main">
        <nav>
            <div class="flex_container">
                <div class="flex_spacer"></div>
                <div class="flex_content">
                    <div class="site">
                        <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
                        <a href="/research" class="{% if page.url == '/research/' %}active{% endif %}">Research</a>
                        <a href="/assets/docs/Sando_George-CV.pdf" target="_blank">CV</a>
                    </div>
                    <div class="social">
                        <a class="fab fa-linkedin-in" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"></a>
                        <a class="fab fa-github" href="https://github.com/{{ site.github_username }}" target="_blank"></a>
                    </div>
                </div>
                <div class="flex_spacer"></div>
            </div>
        </nav>
        <section class="main_content">
            {{ content }}
        </section> 
        {% include footer.html %}
    </main>
  </body>
</html>