<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container nav">
      <div class="col-md-1"></div>
      <div class="col-md-8 offset-md-1">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="https://github.com/sandogeorge" target="_blank">Github</a></li>
            <li>
              <a
                href="https://scholar.google.com/citations?user=XylDI7sAAAAJ&hl=en"
                target="_blank"
              >Google Scholar</a>
            </li>
            <li><a href="/assets/Sando_George-CV.pdf">CV</a></li>
        </ul>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
