---
layout: default
---
<div class="flex_container">
    <div class="flex_spacer"></div>
    <div class="flex_content">
        <div>
            <header>
                <center><h1 class="site_title">{{ page.title }}</h1></center>
                <center><p>{{ page.date | date: "%-d %b %Y" }} in {{ page.categories}}</p></center>
                <center>
                    <span class="big-ornament">
                        {% include light_on-icon.html %}
                        {% include light_on-icon.html %}
                        {% include light_on-icon.html %}
                    </span>
                </center>
            </header>
            
            <article lang="en">
                {{ content }}
            </article>
        
            <hr class="article-end top" />
            <hr class="article-end bottom" />            

            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = '{{ site_url }}{{ page.url }}';
                    this.page.identifier = '{{ page.url }}';
                };
                
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://sandogeorge-github-io.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
    <div class="flex_spacer"></div>
</div>
<script id="dsq-count-scr" src="//sandogeorge-github-io.disqus.com/count.js" async></script>